In [1]:
import pandas as pd
from statsmodels.tsa.ar_model import AutoReg
from sklearn.metrics import mean_absolute_percentage_error, mean_absolute_error, mean_squared_error

In [2]:
df = pd.read_csv('AirPassengers.csv')

In [3]:
df.head()

      date  data  var1
0  1949-01   112     0
1  1949-02   118     0
2  1949-03   132     0
3  1949-04   129     0
4  1949-05   121     0

In [4]:
df.shape

(144, 3)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    144 non-null    object
 1   data    144 non-null    int64
 2   var1    144 non-null    int64
dtypes: int64(2), object(1)
memory usage: 3.5+ KB

In [6]:
df['date'] = pd.to_datetime(df['date'])

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    144 non-null    datetime64[ns]
 1   data    144 non-null    int64
 2   var1    144 non-null    int64
dtypes: datetime64[ns](1), int64(2)
memory usage: 3.5 KB

In [8]:
from function import train_test_split, auto_reg_modelling, evaluate_model

In [9]:
data, train, test = train_test_split(df)

In [10]:
data.shape, train.shape, test.shape

((144, 3), (108, 3), (36, 3))

In [11]:
main_train = train[['date', 'data']].set_index('date')
exog_train = train.drop(['data'], axis=1).set_index('date')

main_test = test[['date', 'data']].set_index('date')
exog_test = test.drop(['data'], axis=1).set_index('date')

In [12]:
main_train.head()

            data
date
1949-01-01   112
1949-02-01   118
1949-03-01   132
1949-04-01   129
1949-05-01   121

In [13]:
exog_train.head()

            var1
date
1949-01-01     0
1949-02-01     0
1949-03-01     0
1949-04-01     0
1949-05-01     0

In [14]:
prediction = auto_reg_modelling(main_train, main_test, exog_train, exog_test)

/opt/anaconda3/envs/ai-doc/lib/python3.9/site-packages/statsmodels/tsa/base/tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency MS will be used.
  self._init_dates(dates, freq)
/opt/anaconda3/envs/ai-doc/lib/python3.9/site-packages/statsmodels/tsa/deterministic.py:302: UserWarning: Only PeriodIndexes, DatetimeIndexes with a frequency set, RangesIndexes, and Index with a unit increment support extending. The index is set will contain the position relative to the data length.
  fcast_index = self._extend_index(index, steps, forecast_index)

In [15]:
prediction

                  data
1958-01-01  352.132634
1958-02-01  345.390451
1958-03-01  389.020664
1958-04-01  388.843994
1958-05-01  409.792362
1958-06-01  474.831244
1958-07-01  527.229842
1958-08-01  528.492842
1958-09-01  470.237776
1958-10-01  400.017191
1958-11-01  351.211740
1958-12-01  375.529795
1959-01-01  391.405221
1959-02-01  393.312897
1959-03-01  426.992520
1959-04-01  435.312942
1959-05-01  466.642602
1959-06-01  536.159236
1959-07-01  596.124711
1959-08-01  599.857282
1959-09-01  542.544122
1959-10-01  461.471259
1959-11-01  404.989764
1959-12-01  420.032331
1960-01-01  435.795923
1960-02-01  443.572495
1960-03-01  471.132390
1960-04-01  486.569702
1960-05-01  527.894359
1960-06-01  605.068372
1960-07-01  673.366720
1960-08-01  681.339870
1960-09-01  622.947621
1960-10-01  532.168527
1960-11-01  466.824768
1960-12-01  470.901158

In [16]:
eval_test = test.set_index('date')[['data']]

In [17]:
accuracy, mae, mse, rmse = evaluate_model(eval_test, prediction)

In [18]:
accuracy, mae, mse, rmse

(89.11, 46.64, 2610.3, 51.09)